<div id="wrapper">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= @event.sport %>
  </p>

  <p>
    <strong>League:</strong>
    <%= @event.league %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @event.start_date %>
  </p>

  <p>
    <strong>Cutoff:</strong>
    <%= @event.cutoff %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>



  </br></br></br>


<div class ="row">
  <div class="col-md-6">

    <h2>Entrants Section</h2></br></br>

    <h2>Add an Entrant:</h2>
    <%= form_for([@event, @event.entrants.build]) do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :order %><br>
        <%= f.number_field :order %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

    </br></br></br>

    <h2>Entrants</h2>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Seed</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @event.entrants.each do |entrant| %>
        <tr>
          <td><%= entrant.name %></td>
          <td><%= entrant.seed %></td>
          <td><%= link_to 'Delete Entrant', [entrant.event, entrant],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="col-md-6">

  <h2>Rounds Section:</h2></br></br>

  <h2>Add a Round:</h2>

  <%= form_for([@event, @event.rounds.build]) do |f| %>
    <div class="field">
      <%= f.label :name %></br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :order %></br>
      <%= f.number_field :order %>
    </div>
    <div class="field">
      <%= f.label :payout %></br>
      <%= f.text_field :payout %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  </br>

  <h2>Rounds</h2>


  <table class="table table-striped table-condensed">
    <head>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Payout %</th>
        <th></th>
      </tr>
    </head>

    <tbody>
      <% @event.rounds.each do |round| %>
      <tr>
        <td><%= round.name %></td>
        <td><%= round.order %></td>
        <td><%= round.payout %></td>
        <td><%= link_to 'Delete Round', [round.event, round],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


</div>







</div>
