<div class="row">
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <p>Auction ID: <%= @auction_participant.auction_id %></p>
    <p>User ID: <%= @auction_participant.user_id %></p>
    <p>Owner Flag: <%= @auction_participant.owner_flag %></p>

    <%= link_to 'Edit', edit_auction_participant_path(@auction_participant) %> |
    <%= link_to 'Back', auction_participants_path %>

  </div>
</div>
